<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <solution>
   <add key="disableSourceControlIntegration" value="true" />
 </solution>
 <packageSources>
  <add key="api.nuget.org v2" value="https://nuget.org/api/v2/" />
  <add key="Collector Common Library" value="https://nuget.collector.se/CommonLibrary/nuget" />
 </packageSources>
</configuration>